<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Demo Form: SKU</h2>
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                <div class="form-group">
                    <label for="skuInput">SKU</label>
                    <input type="text" id="skuInput" placeholder="SKU" name="sku" ngModel>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>